body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    background: url("world.png") no-repeat fixed center;
    background-size: cover;
}

#quiz-area {
    padding-top: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
}

#quiz-area h1 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

#card-container {
    width: 30vw;
    display: flex;
    flex-flow: row wrap;
}

.card {
    flex-basis: 150px;
    height: 150px;
    background: antiquewhite;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 10px;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: orange;
}

.card:hover {
    cursor: pointer;
}

.card p {
    text-align: center;
}